
/* /images/G/01/browser-scripts/fruitCSS/CN-combined-4146921027.css start */

/* CN-sprites-sitewideSprites-3699890280.css start */

.swSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url(http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-site-wide-2._V137067004_.png) no-repeat; }
.swSprite span { position: absolute; left: -9999px; }
.pageGradientTop { background: url(http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-site-wide-2._V137067004_.png) repeat-x scroll 0 -240px; height: 15px; }
.pagGradientBottom { background: url(http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-site-wide-2._V137067004_.png) repeat-x scroll 0 -220px; height: 18px; }
 .s_star_0_0, .s_star_0_5, .s_star_1_0, .s_star_1_5, .s_star_2_0, .s_star_2_5, .s_star_3_0, .s_star_3_5, .s_star_4_0, .s_star_4_5, .s_star_5_0, .s_chevron { vertical-align: baseline; top: 1px; }
.s_starSmallFull  { background-position: -30px 0px; width: 13px;height: 13px; }
.s_starSmallHalf  { background-position: -82px -20px; width: 13px;height: 13px; }
.s_starSmallEmpty { background-position: -95px 0px; width: 13px;height: 13px; }
.s_star_0_0 { background-position: -95px 0px; width: 65px;height: 13px; }
.s_star_0_5 { background-position: -82px -20px; width: 65px;height: 13px; }
.s_star_1_0 { background-position: -82px 0px; width: 65px;height: 13px; }
.s_star_1_5 { background-position: -69px -20px; width: 65px;height: 13px; }
.s_star_2_0 { background-position: -69px 0px; width: 65px;height: 13px; }
.s_star_2_5 { background-position: -56px -20px; width: 65px;height: 13px; }
.s_star_3_0 { background-position: -56px 0px; width: 65px;height: 13px; }
.s_star_3_5 { background-position: -43px -20px; width: 65px;height: 13px; }
.s_star_4_0 { background-position: -43px 0px; width: 65px;height: 13px; }
.s_star_4_5 { background-position: -30px -20px; width: 65px;height: 13px; }
.s_star_5_0 { background-position: -30px 0px; width: 65px;height: 13px; }
.s_chevron { background-position: -30px -40px; width: 11px; height: 11px; }
.s_goTan { background-position: -50px -40px; width: 21px; height: 21px; }
.s_email { background-position: -80px -40px; width: 16px; height: 11px; }
.s_rss { background-position: -100px -40px; width: 12px; height: 12px; }
.s_extLink { background-position: -120px -40px; width: 15px; height: 13px; }
.s_close { background-position: -140px -40px; width: 15px; height: 15px; }
.s_collapseChevron { background-position: -30px -60px; width: 9px; height: 9px; }
.s_expandChevron { background-position: -40px -60px; width: 9px; height: 9px; }
.s_comment { background-position: -80px -60px; width: 16px; height: 15px; }
.s_expand { background-position: -100px -60px; width: 14px; height: 14px; }
.s_collapse { background-position: -120px -60px; width: 14px; height: 14px; }
.s_shvlBack { background-position: -30px -80px; width: 25px; height: 50px; }
.s_shvlBackClick { background-position: -30px -130px; width: 25px; height: 50px; }
.s_shvlNext { background-position: -60px -80px; width: 25px; height: 50px; }
.s_shvlNextClick { background-position: -60px -130px; width: 25px; height: 50px; }
.s_shvlBackSm { background-position: -90px -80px; width: 20px; height: 40px; }
.s_shvlBackSmClick { background-position: -90px -120px; width: 20px; height: 40px; }
.s_shvlNextSm { background-position: -110px -80px; width: 20px; height: 40px; }
.s_shvlNextSmClick { background-position: -110px -120px; width: 20px; height: 40px; }
.s_play { background-position: -140px -80px; width: 20px; height: 20px; }
.s_pause { background-position: -140px -100px; width: 20px; height: 20px; }
.s_playing { background-position: -140px -120px; width: 20px; height: 20px; }
.s_pausing { background-position: -140px -140px; width: 20px; height: 20px; }
.s_blueClearX { background-position: -170px 0px; width: 12px; height: 12px; }
.s_blueStar_0_0 { background-position: -255px 0px; width: 65px; height: 13px; }
.s_blueStar_1_0 { background-position: -242px 0px; width: 65px; height: 13px; }
.s_blueStar_2_0 { background-position: -229px 0px; width: 65px; height: 13px; }
.s_blueStar_3_0 { background-position: -216px 0px; width: 65px; height: 13px; }
.s_blueStar_4_0 { background-position: -203px 0px; width: 65px; height: 13px; }
.s_blueStar_5_0 { background-position: -190px 0px; width: 65px; height: 13px; }
.s_notify { background-position: -0px -190px; width: 25px; height: 25px; }
.s_confirm { background-position: -30px -190px; width: 25px; height: 25px; }
.s_alert { background-position: -60px -190px; width: 25px; height: 25px; }
.s_error { background-position: -90px -190px; width: 25px; height: 25px; }
.s_notifySm { background-position: -120px -190px; width: 17px; height: 17px; }
.s_confirmSm { background-position: -140px -190px; width: 17px; height: 17px; }
.s_alertSm { background-position: -160px -190px; width: 17px; height: 17px; }
.s_errorSm { background-position: -180px -190px; width: 17px; height: 17px; }
.s_checkDisabled { background-position: -150px -170px; width: 14px;height: 14px; }
.s_checkUnmarked { background-position: -90px -170px; width: 14px;height: 14px; }
.s_checkHover { background-position: -110px -170px; width: 14px;height: 14px; }
.s_checkMarked { background-position: -130px -170px; width: 14px;height: 14px; }
.s_amznLogo { background-position: -170px -20px; width: 127px; height: 26px; }
.s_primeBadge { background-position: -170px -50px; width: 45px; height: 13px; }
.s_add2CartSm { background-position: -170px -70px; width: 76px; height: 17px; }
.s_add2WishListSm { background-position: -170px -90px; width: 96px; height: 17px; }
.s_buyWith1ClickSm { background-position: -170px -110px; width: 96px; height: 17px; }
.s_preorderThisItemSm { background-position: -170px -130px; width: 108px; height: 17px; }
.s_seeBuyingOptionsSm { background-position: -170px -150px; width: 122px; height: 17px; }
.s_amznLikeBeak { background-position: -260px -200px; width: 12px; height: 10px; }
.s_amznLikeButtonOff { background-position: -210px -170px; width: 47px; height: 20px; }
.s_amznLikeButtonPressed { background-position: -210px -190px; width: 47px; height: 20px; }
.s_amznLikeButtonOn { background-position: -260px -170px; width: 47px; height: 20px; }
.s_amznLogo { width: 98px; height: 35px; }
               
.s_amznLikeButtonOff { width: 63px; }
.s_amznLikeButtonPressed { width: 63px; }
.s_amznLikeButtonOn { background-position: -280px -170px; width: 63px; }
.s_amznLikeBeak { background-position: -280px -200px; }
.s_starBigFull  { background-position: -222px -50px; width: 20px;height: 18px; }
.s_starBigHalf  { background-position: -241px -50px; width: 20px;height: 18px; }
.s_starBigEmpty  { background-position: -260px -50px; width: 20px;height: 18px; }

/* CN-sprites-sitewideSprites-3699890280.css end */

/* CN-sprites-cmtySprites-3712309287.css start */
.cmtySprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-communities._V164857955_.png') no-repeat; }
button.cmtySprite { vertical-align: top; border: none; background-color: none; cursor: pointer; }
.cmtySprite span { position: absolute; left: -9999px; }
.s_paginationTop { background-position: -0px -710px; height: 18px; }
.s_paginationBottom { background-position: -0px -690px; height: 18px; }
.s_dottedLine { background-position: -0px -730px; height: 18px; }
 
.s_yes { background-position: 0px 0px; width: 31px;height: 17px; }
.s_no { background-position: -50px 0px; width: 31px;height: 17px; }
.s_largeYes { background-position: 0px -703px; width: 35px;height: 19px; }
.s_largeNo { background-position: -70px -703px; width: 35px;height: 19px; }
.s_createYourOwnReviewTan { background-position: 0px -20px; width: 145px;height: 22px; }
.s_startNewDiscussionTan { background-position: 0px -50px; width: 130px;height: 22px; }
.s_startNewDiscussionPrimary { background-position: 0px -80px; width: 132px;height: 22px; }
.s_getNameAndPost { background-position: 0px -110px; width: 130px;height: 22px; }
.s_signInAndPost { background-position: 0px -140px; width: 107px;height: 22px; }
.s_cancelTan { background-position: 0px -170px; width: 59px;height: 22px; }
.s_add { background-position: -80px -170px; width: 35px;height: 17px; }
.s_mostPopularTags { background-position: -0px -200px; width: 93px;height: 37px; }
.s_profileDefault { background-position: -0px -250px; width: 60px;height: 72px; }
.s_BadgeOfficial { background-position: -0px -330px; width: 89px;height: 18px; }
.s_BadgeNo1 { background-position: -0px -415px; width: 69px;height: 19px; }
.s_BadgeTop10 { background-position: -0px -436px; width: 89px;height: 19px; }
.s_BadgeTop50 { background-position: -0px -458px; width: 89px;height: 19px; }
.s_BadgeTop100 { background-position: -0px -480px; width: 93px;height: 19px; }
.s_BadgeTop500 { background-position: -0px -502px; width: 93px;height: 19px; }
.s_BadgeTop1000 { background-position: -0px -524px; width: 101px;height: 19px; }
.s_BadgeVineVoice { background-position: -0px -610px; width: 57px;height: 19px; }

/* CN-sprites-cmtySprites-3712309287.css end */

/* CN-sprites-boxSprites-359568110.css start */

.cBox { position: relative;width:100%; margin-bottom:15px;}
.cBoxInner { padding:9px;}
.cBoxTL, .cBoxTR, .cBoxBL, .cBoxBR { position:absolute; display:block; width:10px; height:10px; z-index:1; }
.cBoxTL { top:-1px; left:-1px; }
.cBoxTR { top:-1px; right:-1px; }
.cBoxBL { bottom:-1px; left:-1px; }
.cBoxBR { bottom:-1px; right:-1px; }
.cBoxR { position:absolute; display:block; width:1px; height:100%; top:-1px; right:-1px; background-color:#C9E1F4; }
.cBoxB { position:absolute; display:block; width:100%; height:1px; bottom:-1px; background-color:#C9E1F4; }
.cBoxTL, .cBoxTR, .cBoxBL, .cBoxBR { background-image:url(http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-site-wide-2._V137067004_.png); background-repeat:no-repeat; }
.cBoxTL { background-position: 0px 0px; }
.cBoxTR { background-position: -10px 0px; }
.cBoxBL { background-position: 0px -10px; }
.cBoxBR { background-position: -10px -10px; }
.secondary, .secEyebrow, .primary { border:1px solid #C9E1F4; border-right:none; border-bottom:none; }
.secEyebrow h2 { margin:0; border-bottom:1px solid #E0EFFB; padding:6px 8px 6px 8px; font-size:100%; color:#030303; }
.primary, .secEyebrow h2 { background-color:#EAF3FE; }
.primary .cBoxTL, .secEyebrow .cBoxTL { background-position: 0px -40px; }
.primary .cBoxTR, .secEyebrow .cBoxTR { background-position: -10px -40px; }
.primary .cBoxBL { background-position: 0px -50px; }
.primary .cBoxBR { background-position: -10px -50px; }
.grayBox .cBoxTL { background-position: 0px -80px; }
.grayBox .cBoxTR { background-position: -10px -80px; }
.grayBox .cBoxBL { background-position: 0px -90px; }
.grayBox .cBoxBR { background-position: -10px -90px; }
.grayBox .cBoxR { background-color:#CCC; }
.grayBox .cBoxB { background-color:#CCC; }
.grayBox { border: 1px solid #CCC; border-right:none; border-bottom:none; }
.dkBlueBox .cBoxTL { background-position: 0px -60px; }
.dkBlueBox .cBoxTR { background-position: -10px -60px; }
.dkBlueBox .cBoxBL { background-position: 0px -70px; }
.dkBlueBox .cBoxBR { background-position: -10px -70px; }
.dkBlueBox .cBoxR { background-color: #AED2EE; }
.dkBlueBox .cBoxB { background-color: #AED2EE; }
.dkBlueBox { border: 1px solid #AED2EE; border-right: none; border-bottom: none; }
.tanBox .cBoxTL { background-position: 0px -100px; }
.tanBox .cBoxTR { background-position: -10px -100px; }
.tanBox .cBoxBL { background-position: 0px -110px; }
.tanBox .cBoxBR { background-position: -10px -110px; }
.tanBox .cBoxR { background-color: #CCC; }
.tanBox .cBoxB { background-color: #CCC; }
.tanBox { border:1px solid #CCC; border-right: none; border-bottom: none; background-color: #FCFCF3; }
* html .cBox { height: 1%; }
.s_boxLeft { background-position: 0px -40px; height: 12px; width: 12px; }
.s_boxRight { background-position: -10px -40px; height:12px; width: 12px; }

/* CN-sprites-boxSprites-359568110.css end */

/* /images/G/01/browser-scripts/fruitCSS/CN-combined-4146921027.css end */
/* /images/G/01/browser-scripts/dpSpritesCSS/CN-combined-3838397450.css start */

/* CN-sprites-dpSprites-2580617052.css start */

#versionBump1 { margin: 0; } 
.dpSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-dp-2._V159944870_.png') no-repeat; }
.dpSprite span { position: absolute; left: -9999px; }
.s_plus { background-position: -140px -540px; width: 8px;height: 8px; }
.s_cornerBlueTL { background-position: -120px -520px; width: 5px;height: 5px; }
.s_cornerBlueTR { background-position: -130px -520px; width: 5px;height: 5px; }
.s_cornerBlueBL { background-position: -140px -520px; width: 5px;height: 5px; }
.s_cornerBlueBR { background-position: -150px -520px; width: 5px;height: 5px; }
.s_bbSubscribeNow { background-position: 0px -60px; width: 160px;height: 27px; }
.s_wlListGradient { background-position: 0px -800px; background-repeat: repeat-x; }
.s_wlListGradient span { position: static; left: 0px; }
.s_add2WishList { background-position: 0px -190px; width: 160px;height: 22px; }
.s_add2WishListLeft { background-position: 0px -220px; width: 137px;height: 22px; }
.s_add2WishListRight { background-position: -137px -220px; width: 23px;height: 22px; }
.s_bbAdd2Cart { background-position: 0px 0px; width: 160px;height: 27px; }
.s_signUp { background-position: 0px -160px; width: 59px;height: 22px; }
.s_add3ToCart { background-position: 0px -400px; width: 138px;height: 22px; }
.s_addBothToCart { background-position: 0px -430px; width: 124px;height: 22px; }
.s_addToCart { background-position: 0px -460px; width: 98px;height: 22px; }
.s_submitTan { background-position: 0px -510px; width: 62px;height: 22px; }
.s_starsDisabled { background-position: 0px -540px; width: 57px;height: 12px; }
.s_cornerBlueTL { background-position: -120px -520px; width: 5px;height: 5px; }
.s_cornerBlueTR { background-position: -130px -520px; width: 5px;height: 5px; }
.s_cornerBlueBL { background-position: -140px -520px; width: 5px;height: 5px; }
.s_cornerBlueBR { background-position: -150px -520px; width: 5px;height: 5px; }
.s_zoom { background-position: 0px -560px; width: 67px;height: 16px; }
.s_spin { background-position: 0px -580px; width: 65px;height: 16px; }
.s_notes { background-position: -120px -600px; width: 34px;height: 10px; }
.s_calendar { background-position: -70px -540px; width: 25px;height: 17px; }
.s_calendarDisabled { background-position: -100px -540px; width: 25px;height: 17px; }
.s_bbPreorder { background-position: -0px -620px; width: 160px;height: 27px; }
.s_preorderAll3 { background-position: -0px -680px; width: 124px;height: 22px; }
.s_preorderBoth { background-position: -0px -710px; width: 124px;height: 22px; }
.s_preorderThis { background-position: -0px -740px; width: 98px;height: 22px; }
.s_preorderItem { background-position: -0px -770px; width: 88px;height: 20px; }
.s_saveForLater { background-position: 0px -798px; width: 160px;height: 22px; }
.s_bbBuyNow1Click { background-position: 0px -30px; width: 160px;height: 27px; }
.s_bbPreorder1Click { background-position: -0px -650px; width: 160px;height: 27px; }

/* CN-sprites-dpSprites-2580617052.css end */

/* CN-sprites-accSprites-2635174630.css start */

.accSprite { background-image: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-accessories-2._V_.'); }
.s_accSelectThis { background-position: 0 0; }
.s_accRemoveThis { background-position: 0px -30px; }
#add-selected-to-cart { background-position: 0px -95px; }
.acc_enabled #add-selected-to-cart { background-position: 0px -60px; }
.s_accClose { background-position: -40px -130px; width: 13px; height: 13px; }
#items-selected-trigger { background-position: -20px -130px; width: 13px; height: 13px; }
.acc_enabled #items-selected-trigger { background-position: 0 -130px; }
ul#accessories-categories li a:link, ul#accessories-categories li a:visited { background-position: right -157px; }
div#accessories-box a.see-all { background-position: -60px -127px; }
             
             
             

/* CN-sprites-accSprites-2635174630.css end */

/* CN-sprites-metersSprites-742460997.css start */

.mtrSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-meters._V_.') no-repeat; }
.mtrSprite span { position: absolute; left: -9999px; }
.s_mtrVS { background-position: -180px 0px; width: 24px;height: 13px; }
.s_mtrTopCapBlue { background-position: 0px 0px; width: 12px;height: 5px; }
.s_mtrBottomCapBlue { background-position: -60px 0px; width: 12px;height: 5px; }
.s_mtrMidBlue { background-position: -120px 0px; width: 12px;height: 13px; background-repeat: repeat-y; }
.s_mtrTopCapGrey { background-position: -20px 0px; width: 12px;height: 5px; }
.s_mtrBottomCapGrey { background-position: -80px 0px; width: 12px;height: 5px; }
.s_mtrMidGrey { background-position: -140px 0px; width: 12px;height: 13px; background-repeat: repeat-y; }
.s_mtrTopCapOrange { background-position: -40px 0px; width: 12px;height: 5px; }
.s_mtrBottomCapOrange { background-position: -100px 0px; width: 12px;height: 5px; }
.s_mtrMidOrange { background-position: -160px 0px; width: 12px;height: 13px; background-repeat: repeat-y; }

/* CN-sprites-metersSprites-742460997.css end */

/* CN-sprites-musicSprites-1892145482.css start */

.mscSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-music-sampler._V_.') no-repeat; }
.mscSprite span { position: absolute; left: -9999px; }
.s_mscSpeaker { background-position: 0px 0px; width: 16px;height: 15px; }

/* CN-sprites-musicSprites-1892145482.css end */

/* CN-sprites-mediaSprites-2716150237.css start */

.medSprite { display: -moz-inline-box; display: inline-block; margin: 0;padding: 0; position: relative; overflow: hidden; vertical-align: middle; background: url('http://g-ec4.images-amazon.com/images/G/28/common/sprites/sprite-media-platform._V156421424_.png') no-repeat; }
.medSprite span { position: absolute; left: -9999px; }
.s_medVHS { background-position: 0px 0px; width: 35px;height: 18px; }
.s_medDVD { background-position: -40px 0px; width: 35px;height: 19px; }
.s_medHDDVD { background-position: 0px -30px; width: 35px;height: 12px; }
.s_medBluRay { background-position: -40px -30px; width: 34px;height: 16px; }
.s_medDVDR { background-position: -40px 0px; width: 35px;height: 26px; }
.s_medPS { background-position: 0px -100px; width: 20px;height: 20px; }
.s_medPS2 { background-position: -20px -100px; width: 20px;height: 20px; }
.s_medPSP { background-position: -40px -100px; width: 20px;height: 20px; }
.s_medPS3 { background-position: -60px -100px; width: 20px;height: 20px; }
.s_medGB { background-position: 0px -120px; width: 20px;height: 20px; }
.s_medGBAdv { background-position: -20px -120px; width: 20px;height: 20px; }
.s_medDS { background-position: -40px -120px; width: 20px;height: 20px; }
.s_medN64 { background-position: 0px -140px; width: 20px;height: 20px; }
.s_medGamecube { background-position: -20px -140px; width: 20px;height: 20px; }
.s_medWii { background-position: -40px -140px; width: 20px;height: 20px; }
.s_medXbox { background-position: 0px -160px; width: 20px;height: 20px; }
.s_medXbox360 { background-position: -20px -160px; width: 20px;height: 20px; }
.s_medWin { background-position: 0px -180px; width: 20px;height: 20px; }
.s_medMac { background-position: -20px -180px; width: 20px;height: 20px; }
.s_medDreamcast { background-position: -20px -200px; width: 20px;height: 20px; }
.s_medLinux { background-position: -40px -200px; width: 20px;height: 20px; }

/* CN-sprites-mediaSprites-2716150237.css end */

/* CN-sprites-rtiSprites-1555679552.css start */


/* CN-sprites-rtiSprites-1555679552.css end */

/* CN-sprites-sellButtonSprite-1176362545.css start */
.sb-dotted-row { border-top: 1px dotted #D6D6D6; }
table.sb-row { margin: 0px 5px; }
.sb-caret { color: #CC6600; font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
.mbcOfferRow .sb-row-select { background-color: #FCFCC2; cursor: hand; cursor: pointer;}
ol.noindent { padding: 8px 0px 7px 21px ; margin: 0px; }

/* CN-sprites-sellButtonSprite-1176362545.css end */

/* /images/G/01/browser-scripts/dpSpritesCSS/CN-combined-3838397450.css end */
/* /images/G/28/kitchen/scheduled-delivery/sd_style-ScheduledDeliveryJavascript-b1.0.3.33-min.css start */
@charset UTF-8;.sd_widget_root{width:300px;display:none}.sdHeaderTable{width:350px;border:0;padding:2px;border-spacing:0;margin-bottom:4px}.sd_enabled_icon{border:0}.style3{padding:4px 0}.sd-error{color:red}.sd-dialog{display:none}.sdNoWrap{white-space:nowrap}div.sdBuyBox{position:relative;padding:10px 0 4px;margin-bottom:6px;margin-right:0;background-repeat:repeat-x;background-position:0 -34px;width:98%}.sdCorner{position:absolute;width:17px;height:6px}.sdCornerTL{top:-4px;left:-1px;background-position:0 0}.sdBorderMid{position:absolute;height:6px;width:90%;top:-3px;left:6px;right:6px;background-color:#e5f4fb}.sdCornerTR{top:-4px;right:-1px;background-position:17px 0}div.sd_buybox_align{padding-left:.3em;float:left}div#sd_divUI{position:relative;padding-left:.5em}.sdInlineImage{margin-bottom:.7em}.sd_notice{font:10pt "verdana";text-align:left}table.sd-timeslot-header{text-align:center;margin-bottom:5px}.sd-timeslot-header .sd-timeslot-weekday-date-small{background-color:#eee;text-align:center;width:1.5em;height:1.0em;border:1px solid #c1dcf2}#sd-timeslot .sd-timeslot-weekday-date-small{background-color:#f0f0f0;text-align:center;width:1.5em;height:1.0em;border:1px solid #c1dcf2}.sd-timeslot-highlight-date-small{background-color:#fff;text-align:center;width:1.5em;height:1.0em;border:1px solid #c1dcf2}.sd-timeslot-selected-date-small{background-color:#e47911;text-align:center;width:1.5em;height:1.0em;border:1px solid #c1dcf2}span.sd-legend{font:10pt "verdana"}.sd_dashed{border:1px dashed #000}.sd-popup{border:1px solid #aed2ee}.sd-timeslot-calender-title{text-align:left;padding-left:12px;font:15pt "arial"}.sd-timeslot-scroll-title{text-align:center;font:bold 12px "verdana"}td.sd-timeslot-scroll-title{text-align:center}td.sd-timeslot-scroll-title-left{text-align:center;border:1px solid #ccc;color:#999;font-weight:bold}td.sd-timeslot-scroll-title-left span{color:#e47911;font-weight:bold;text-decoration:none}td.sd-timeslot-scroll-title-left:hover{border:1px solid #e47911}td.sd-timeslot-scroll-title-right{text-align:center;border:1px solid #ccc;color:#999;font-weight:bold}td.sd-timeslot-scroll-title-right span{color:#e47911;font-weight:bold;text-decoration:none}td.sd-timeslot-scroll-title-right:hover{border:1px solid #e47911}table#sd-timeslot td.sdleft,table#sd-timeslot th.sdleft{width:25%}table#sd-timeslot th{background-color:#eaf3fe;font-weight:bold}table.sd-timeslot-table{text-align:center;border-left:1px solid #c1dcf2;border-bottom:1px solid #c1dcf2;border-spacing:0;font-size:12px}.sd-timeslot-table th,.sd-timeslot-table td{text-align:center;border-right:1px solid #c1dcf2;border-top:1px solid #c1dcf2;height:40px;width:11%;font-size:9px}table.sd-timeslot-table td.sdleft,table.sd-timeslot-table th.sdleft{width:25%}table.sd-timeslot-table th{background-color:#eaf3fe;font-weight:bold}tr.sd-timeslot-index-date{background-color:#eaf3fe;font-weight:bold}#sd-timeslot .index-date tr{border-bottom:5px solid #f00}.sd-timeslot-table .index-date tr{border-bottom:5px solid #f00}td.sd-timeslot-rowindex-date{width:2.8em;height:2.8em;text-align:center}span.sd-timeslot-rowindex-date{white-space:nowrap;font:8pt "verdana"}select.sdbuybox{white-space:normal;width:13.5em;margin:.3em 0}td.sd-message{white-space:nowrap;background-color:white;color:#f00;text-align:center;border-left:1px solid #aaa;border-right:1px solid #aaa;border-top:1px solid #aaa}span.sd-message{white-space:nowrap;background-color:white;color:#f00;text-align:center;font-size:12px}.sd-timeslot-slot td{width:2.8em;height:2.8em}.sd-timeslot-slot button{line-height:2.0em;text-align:center;vertical-align:middle;width:100%;height:100%}.sd-timeslot-slot div{text-align:center;vertical-align:middle;width:90%;height:90%}.sd-timeslot-slot button.span1Rows{height:100%}td.sdcal-avail:hover{border:2px solid #e47911}td.sdcal-avail:active{background-color:#fff;border:1px solid #c1dcf2}.sd-timeslot-slot .sdcal-avail{background-color:#fff;border:1px outset #c1dcf2;color:#039;cursor:pointer}.sd-timeslot-slot .sdcal-avail button{background-color:#fff;border:1px outset #c1dcf2;color:#039;cursor:pointer}.sd-timeslot-slot .sdcal-select{background-color:#e47911;border:1px inset #c1dcf2;color:#039;cursor:pointer}.sd-timeslot-slot .sdcal-select button{background-color:#e47911;border:1px inset #c1dcf2;color:#039;cursor:pointer}.sd-timeslot-slot .sdcal-noavail{background-color:#f0f0f0;border:1px solid #95a8a6;color:#95a8a6}.sd-timeslot-slot .sdcal-noavail button{background-color:#f0f0f0;border:1px solid #95a8a6;color:#95a8a6}table.sdcal-table{text-align:center;border-left:1px solid #c1dcf2;border-bottom:1px solid #c1dcf2;font-size:12px}.sdcal-table th,.sdcal-table td{text-align:center;border-right:1px solid #c1dcf2;border-top:1px solid #c1dcf2;height:25px;width:14%}table.sdcal-table th{background-color:#eaf3fe;font-weight:bold}.sdcal-head{background-color:#eaf3fe;font-weight:bold}td.sdcal-dayname{color:white;width:20px;background-color:#9dc4d8}.sdcal-table td.sdcal-noavail{color:#666;background-color:#f0f0f0}.sd-timeslot-table td.sdcal-noavail{color:#666;background-color:#eee}td.sdcal-avail{background-color:#fff;color:#004b91;font-weight:bold;cursor:pointer}td.sdcal-select{background-color:#e47911;color:#fff;cursor:pointer;font-weight:bolder}td.sdcal-today{border:1px solid #000;font-weight:bolder}.sd_calicon_disabled{margin:1em 0 1em 0}.sd_calicon_enabled{margin:1em 0 1em 0}.sd_bb_warn_pop{padding:7px;border:1px solid #5c9ebf;background-color:#fff;text-transform:none;text-align:center;font-size:.86em}.sdMessage,.sdSuccess,.sdWarn,.sdErr{background-color:#ffd;border:1px solid #dddac0;font-size:.916em;line-height:140%;margin:.834em 0;padding:.417em .417em .417em .834em;position:relative;width:auto;max-width:500px}.sdMessage,.sdWarn{color:#000}.sdSuccess{color:#063}.sdErr{color:#a31919}.sdMessage span,.sdWarn span,.sdSuccess span,.sdErr span{top:.5em;left:.5em;position:absolute}.sdMessage p,.sdWarn p,.sdSuccess p,.sdErr p{margin:0 0 .25em 3em;padding:0;font-size:.916em}.sdMessage h6,.sdWarn h6,.sdSuccess h6,.sdErr h6{margin:0 0 .25em 2.5em;padding:0;font-weight:bold;font-size:.916em}span.calendar-swatch{text-align:center;border:1px solid #c1dcf2;padding:0 .5em;margin:0 .5em}.calendar-header{text-align:center;margin:.7em 0}.calendar-not-available{background-color:#f0f0f0}.calendar-available{background-color:#FFF}.calendar-selected{background-color:#e47911}.sd_reload{cursor:pointer;margin:0 1em;text-decoration:underline}.sd_calendar_link{text-decoration:none}.sd_optgroupLabel{font-weight:bold;height:1.5em}

/* /images/G/28/kitchen/scheduled-delivery/sd_style-ScheduledDeliveryJavascript-b1.0.3.33-min.css end */
